body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
  margin: 2px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.button-container{
  display: flex;
  justify-content: center;
}

button {
  background-color: #424ff9; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 10px; 
}

.table-container {
  display: flex; /* Mostrar los elementos en línea */
}

h1 {
  color: #5d5d5d;
}

.green {
  background-color: green !important; /* !important para asegurar que sobrescriba otras reglas */
}
